<div class="postView">
	<span ng-click="backHome()" class="lastPage pointStyle">返回主页</span>
	<div class="detail" ng-model="post">
		<div class="detail-operator">
			<span ng-if="showByadmin() && !checkIfhide()" ng-click="hidePost(post._id)" class="pointStyle">隐藏</span>
			<span ng-if="showByadmin() && checkIfhide()" ng-click="showPost(post._id)" class="pointStyle">显示</span>
			<span ng-if="showByauthor()" ng-click="editPost()" class="pointStyle">修改</span>
			<span ng-click="deletePost()" ng-if="showByauthor()" class="pointStyle">删除</span>
		</div>
		<div class="detail-title"><h1>{{post.title}}</h1><hr></div>
		<div class="detail-author">发布时间: {{post.date | date: 'yyyy-MM-dd HH:mm'}} <span>作者: {{post.author}}</span><hr>
		</div>
		<div class="detail-article">
			<p ng-show="!checkIfhide()" ng-bind-html="post.content"></p>
			<p ng-show="checkIfhide()">该内容已被管理员隐藏</p>
		</div>
	</div>
	<hr>
	<div class="detail-comment">
	<h4>评论区</h4>
	<div ng-if="!showBysignin()" id="commentWarn">登陆再评论吧<a href="#!/signin"><button class="btn btn-success detailButton">登陆</button></a></div>
	<div ng-show="showBysignin()" class="detail-comment-input">
		<img src="./images/member.jpg" class="memberImg">
		<textarea ng-model="content" ng-focus='clear()'>{{content}}</textarea>
		<div ng-class="{'errorAlert':true, 'AlertPosit-detail':true ,'show': AlertInfo !== ''}"><div class="arrow"></div>{{AlertInfo}}</div>
		<button type="button" ng-click="submitComment()">提交评论</button>
	</div>
	<p ng-if="showBycomments()" ng-hide="comments.length">目前还没评论</p>
	<li ng-repeat = "comment in comments | orderBy: 'comment.time':true" class='list-unstyled commentList'>
	<hr>
	<div ng-if="!comment.isEdit">
		<img src="./images/member.jpg" class="memberImg">
		<span class="comment-author">{{comment.author}}</span>
		<p ng-show="!comment.isHide" class="comment-content">{{comment.content}}</p>
		<p ng-show="comment.isHide">该内容已被管理员隐藏</p>
		<div class="comment-footer">
			<span>{{comment.time | date: 'yyyy-MM-dd HH:mm'}}</span>
			<a href="" ng-if="operatorshowByauthor(comment)" ng-click="editCommentstatus(comment._id)" class="pointStyle">修改</a>
			<a href="" ng-if="operatorshowByauthor(comment)" ng-click="deleteComment(comment._id)" class="pointStyle">删除</a>
			<a href="" ng-if="showByadmin() && !comment.isHide" ng-click="hideComment(comment._id)" class="pointStyle">隐藏</a>
			<a href="" ng-if="showByadmin() && comment.isHide" ng-click="showComment(comment._id)" class="pointStyle">显示</a>
		</div>
	</div>
	<div ng-if="comment.isEdit">
	<img src="./images/member.jpg" class="memberImg">
	<span class="comment-author">{{comment.author}}</span>
		<div class="edit-comment-input">
			<textarea ng-model="comment.content">{{comment.content}}</textarea>
			<div class="edit-comment-button-group">
				<button type="button" ng-click="editComment(comment)" ng-disabled="!comment.content">提交</button>
				<button type="button" ng-click="cancel(comment)">取消</button>
			</div>
		</div>
	</div>
	</li>
	</div>
</div>